In [2]:
print("This is Jupyter!!!!")

This is Jupyter!!!!

In [3]:
print("You can run one line at a time!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1")

You can run one line at a time

In [4]:
#Anyway this is a comment, something we should always add to our code
#To give you an idea how this works, lets import a libary (which you should have acess through Anconda)
#And quickly look at a data frame
import pandas as pd #this is the import statement for a libary, in this case Pandas 

#this import's a data set from the internet
fish = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0